:root  {
  --background: 60 20% 95%;
  --foreground: 120 10% 15%;
  --card: 60 30% 90%;
  --card-foreground: 120 10% 20%;
  --popover: 60 20% 95%;
  --popover-foreground: 120 10% 15%;
  --primary: 150 50% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 60 40% 85%;
  --secondary-foreground: 120 10% 20%;
  --muted: 60 20% 85%;
  --muted-foreground: 120 10% 40%;
  --accent: 60 30% 80%;
  --accent-foreground: 120 10% 20%;
  --destructive: 0 95% 30%;
  --destructive-foreground: 60 20% 90%;
  --border: 120 20% 70%;
  --input: 120 20% 80%;
  --ring: 150 50% 60%;
  --radius: 0.5rem;
}
.dark  {
  --background: 120 15% 8%;
  --foreground: 60 20% 85%;
  --card: 120 15% 5%;
  --card-foreground: 60 20% 85%;
  --popover: 120 15% 8%;
  --popover-foreground: 60 20% 85%;
  --primary: 150 50% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 120 15% 15%;
  --secondary-foreground: 60 20% 85%;
  --muted: 120 15% 15%;
  --muted-foreground: 60 20% 60%;
  --accent: 120 15% 15%;
  --accent-foreground: 60 20% 85%;
  --destructive: 0 95% 30%;
  --destructive-foreground: 60 20% 85%;
  --border: 120 15% 20%;
  --input: 120 15% 20%;
  --ring: 150 50% 60%;
  --radius: 0.5rem;
}

